/* *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container-fluid{
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height:auto;
    background: linear-gradient(-45deg,rgb(255,125,120),rgb(125,125,255));
}
.content{
    list-style-type: none;
    flex: auto;
}
.card{
    width: 250px;
    height:400px;
    background: linear-gradient(45deg,rgb(237, 178, 175),rgb(160, 160, 209));
} */
*{
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to next line */
  height: auto;
  width: 81vw;
    background: linear-gradient(-45deg,rgb(255,125,120),rgb(125,125,255));
  }

  .music-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
  }

  .music-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    height:230px;
    width:250px;
  }

  .music-option img {
    width: 150px;
    height: 150px;
  }

  #search-input {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    margin: 20px auto;
  }
  .row .col-md-3{
    padding: 0px 0px;
  }