<!-- <div class="hel w-100 mt-4 d-flex align-items-center justify-content-center">

    <h1>Welcome to dashboard</h1>
  </div> -->
<!-- <p>param works!</p> -->
<div class="ms-4 text-center align-middle h-100vh my-auto">
  <div class="card m-4 text-center p-4 text-light display-6" style="background-color: black;">
    <ngx-typed-js [strings]="[ 'Welcome To Dashboard.']" [typeSpeed]="100" [startDelay]="1000" [loop]="true"
      [fadeOut]="true">
      <b><i><em> <span class="typing"></span></em></i></b>

    </ngx-typed-js>
    <!-- <ngx-typed-js [strings]="['Software Engineer.', 'Ui ux designer.', 'Manual tester.']" [shuffle]="true" [typeSpeed]="175">
     <b> <em><i> I am <span class="typing"></span></i></em></b>
    </ngx-typed-js> -->
  </div>
</div>