<div class="d-flex align-items-center justify-content-center ">
    <h2> location display -</h2> 
    <!-- <button mat-button (click)="openDialog()">Launch dialog</button><br> -->
    <button type="button" class="btn btn-primary mb-2"  mat-button (click)="openDialog()">View Co-ordinates</button>
    <!-- <b>latitude: {{lat}}</b> |
    <b>longitude:{{long}}</b> -->
</div>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<div id="map" style="width: 100%;height: 65%;" class="ms-5"></div>
<mat-progress-bar mode="buffer"></mat-progress-bar>
