<nav class="navbar navbar-expand-lg bg-dark "> 
    <!-- <button class="btns" (click)="toggle()"><h1>Patil</h1></button>	 -->
      <a class="navbar-brand  col-sm-1 col-xl-8  " href="#" >
        </a>
      <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
        <ul class="navbar  mr-auto pt-3 pb-0 ms-5 ">
          <li class="nav-item1  ">
            <a class="nav-link " href="#"><h3>Home</h3></a>
          </li>
          <li class="nav-item1">
            <a class="nav-link" href="#"><h3>About</h3></a>
          </li>    
          <li class="nav-item1">
            <a class="nav-link" href="#"><h3>Logout</h3></a>
          </li>     
        </ul>
      </div>
    </nav>
    <!-- sidebar starts here  -->
<div class="container-fluid"  > 

<div class="row ">
  <div class= "col-auto col-md-2  bg-dark "  >
   <!-- <div class= "col-auto col-md-2  bg-dark " *ngIf="display" >  -->
      <div class="d-flex flex-column align-items-center align-items-xs-start px-3 pt-2 text-white min-vh-100">
        
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center  " id="menu">
     
              <li class="nav-item ">
            <a routerLink="/dashboard" class="nav-link align-middle px-0 ">
               <span class="ms-0  d-sm-inline  ">Dashboard</span>
            </a>
             <a href="#" class="nav-link align-middle px-0"  routerLink="/user">
                <span class="ms-0  d-sm-inline">user</span>
            </a> 
            <a href="#" class="nav-link align-middle px-0">
              <span class="ms-0 d-sm-inline">Form</span>  
            </a> 
            <a href="#" class="nav-link align-middle px-0">
               <span class="ms-0 d-sm-inline">Email</span>
            </a> 
            <a href="#" class="nav-link align-middle px-0">
                <span class="ms-0  d-sm-inline">Profile</span>
            </a>  
            <a href="#" class="nav-link align-middle px-0 ">
                <span class="ms-0  d-sm-inline">Setting</span>
            </a>

        </li>
    </ul>
    <hr>
</div>
</div> 

<div class="col py-3" >
<h1>Welcome to dashboard</h1>



 <div class="d-flex align-items-start ">
<div class="card" style="width: 16rem;">
    <img src="https://www.shutterstock.com/image-vector/admin-icon-strategy-collection-thin-600nw-2307398667.jpg"height="289px" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Rohit Patil</h1>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
    </div>
  </div>
  <div class="card ms-2" style="width:30rem;">
  <img src="https://www.mongodb.com/docs/charts/images/charts/stacked-bar-chart-reference-small.png" class="card-img-top" alt="...">

  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> <div class="card ms-2" style="width: 30rem; ">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Pushkin_population_history.svg/1200px-Pushkin_population_history.svg.png" height="355px" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


</div>     
</div> 

<!-- </div>
</div> -->

