<!-- <p>param works!</p> -->
<div class="card m-4 text-center p-4 text-light display-6" style="background-color: black; border-radius: 60px;">
    <ngx-typed-js [strings]="[ 'Query Parameters Works successfully.']" [typeSpeed]="100"[startDelay]="1000" [loop]="true"[fadeOut]="true">
       <b><i><em> <span class="typing"></span></em></i></b>
      </ngx-typed-js>
      <!-- <ngx-typed-js [strings]="['Software Engineer.', 'Ui ux designer.', 'Manual tester.']" [shuffle]="true" [typeSpeed]="175">
       <b> <em><i> I am <span class="typing"></span></i></em></b>
      </ngx-typed-js> -->
</div>
<button type="button" class="btn btn-primary me-2" (click)="goMerge()">Merge </button>
<button type="button" class="btn btn-primary me-2" (click)="goPreserve()">Preserve</button>